html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  Color: #37474F;
  font-size: 1.6rem; }

.page-header {
  position: absolute;
  width: 100%;
  padding: 20px;
  padding-top: 28px;
  box-sizing: border-box;
  overflow: hidden;
  height: 70px; }
  @media screen and (min-width: 640px) {
    .page-header {
      max-width: 1000px;
      margin: auto;
      left: 0;
      right: 0; } }
  .page-header .page-logo {
    fill: #FFF;
    position: absolute;
    top: 10px;
    left: 20px;
    opacity: 0.7; }

.page-nav {
  overflow: hidden;
  height: 65px; }
  @media screen and (min-width: 640px) {
    .page-nav {
      position: absolute;
      top: 0px;
      right: 20px; } }
  .page-nav .hamburger {
    border: 0;
    background: 0;
    fill: #FFF;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px; }
    @media screen and (min-width: 640px) {
      .page-nav .hamburger {
        display: none; } }
    .page-nav .hamburger .hamburger-icon {
      width: 23px;
      opacity: 0.7; }
    .page-nav .hamburger .close-icon {
      display: none;
      width: 16px; }
  .page-nav .navigation-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    text-align: center; }
    @media screen and (min-width: 640px) {
      .page-nav .navigation-menu {
        display: block; } }
    .page-nav .navigation-menu li {
      border-bottom: 1px solid #F5F7F8;
      padding-top: 10px;
      padding-bottom: 10px; }
      @media screen and (min-width: 640px) {
        .page-nav .navigation-menu li {
          display: inline-block;
          border: 0; } }
      .page-nav .navigation-menu li a {
        color: #000000;
        text-decoration: none;
        font-size: 1.4rem;
        position: relative; }
        @media screen and (min-width: 640px) {
          .page-nav .navigation-menu li a {
            color: #FFF;
            margin-right: 42px; } }
    .page-nav .navigation-menu li.sign-up {
      border: 0;
      margin-top: 10px; }
      .page-nav .navigation-menu li.sign-up a {
        border: 2px solid #00BAA5;
        border-radius: 25px;
        padding: 7px;
        padding-right: 14px;
        padding-left: 14px; }
        @media screen and (min-width: 640px) {
          .page-nav .navigation-menu li.sign-up a {
            border: 2px solid #FFF;
            border-radius: 25px;
            margin: 0; } }

.page-header.nav-opened {
  background: #FFF;
  box-shadow: -1px 9px 19px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  height: auto; }
  .page-header.nav-opened .navigation-menu {
    display: block; }
  .page-header.nav-opened .page-logo {
    fill: #000000; }
  .page-header.nav-opened .page-nav {
    height: auto; }
    .page-header.nav-opened .page-nav .hamburger {
      fill: #000000; }
      .page-header.nav-opened .page-nav .hamburger .hamburger-icon {
        display: none; }
      .page-header.nav-opened .page-nav .hamburger .close-icon {
        display: inline-block; }

.article-header-main, .article-header-winter, .article-header-summer {
  background-image: url("../img/Tahoe_North.jpg");
  background-position: 60%;
  color: #FFF;
  text-align: center;
  padding-top: 80px;
  min-height: 72vh;
  overflow: hidden; }

.article-header-winter {
  background-image: url("../img/skier.jpg");
  display: none; }

.article-header-summer {
  background-image: url("../img/big-summer.jpg");
  display: none; }

.article-title {
  margin-right: 0;
  margin-left: 0;
  font-weight: normal;
  font-size: 4.0rem; }

.article-lead {
  font-size: 1.8rem;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px; }

.source {
  font-size: 1.5rem;
  padding-bottom: 15px;
  font-weight: 300; }

.art-ph-wrap {
  width: auto;
  height: auto;
  display: inline-block; }

.article-title-photo {
  width: 100%;
  height: auto; }
  .article-title-photo img {
    height: 150px;
    width: auto;
    padding: 10px;
    position: relative;
    border-radius: 15px; }
  .article-title-photo img#sas-ba-sm {
    display: none; }

.article-sidebar {
  border-top: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
  padding: 45px 0px 25px 0px;
  margin-top: 40px;
  margin-bottom: 40px; }
  .article-sidebar .article-picture {
    margin: auto;
    left: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 700px; }
    .article-sidebar .article-picture img {
      max-width: 100%;
      text-align: center;
      border-radius: 15px;
      margin: auto;
      left: 0;
      right: 0; }

.article-sidebar .article-picture .caption,
.article-sidebar p {
  font-size: 1.4rem;
  color: #78909C;
  font-style: italic;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px; }

@media screen and (min-width: 640px) {
  .article-content {
    max-width: 900px;
    margin: auto; } }
.article-content .article-container {
  padding: 15px;
  line-height: 25px; }
  @media screen and (min-width: 640px) {
    .article-content .article-container {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2; } }
  @media screen and (min-width: 640px) {
    .article-content .article-container p {
      margin-top: 0px; } }
@media screen and (min-width: 640px) {
  .article-content .article-sidebar p {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    max-width: 900px; } }

.lead-two {
  text-align: center;
  font-size: 1.6rem;
  padding-left: 20px;
  padding-right: 20px; }

.page-footer {
  text-align: center;
  background-color: #F5F7F8;
  padding-top: 40px;
  padding-bottom: 40px; }
  .page-footer .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .page-footer .navigation-menu li {
      margin-bottom: 30px; }

.page-footer .navigation-menu li a {
  color: #00BAA5;
  text-decoration: none; }
.page-footer .page-logo2 {
  fill: #78909C;
  margin-bottom: 20px; }
.page-footer .copyright {
  margin: 0;
  color: #78909C; }

@media screen and (max-width: 900px) {
  .article-title-photo img#sas-ba-bg {
    display: none; }

  .article-title-photo img#sas-ba-sm {
    display: inline; } }
@media screen and (max-width: 730px) {
  .article-title-photo {
    padding-bottom: 5px; }

  .art-ph-wrap {
    display: block; }

  .article-title-photo img {
    height: 120px;
    padding: 5px;
    width: auto; }

  .source {
    display: none; } }
@media screen and (max-width: 615px) {
  .article-title-photo img {
    height: 115px;
    width: auto; } }
@media (max-width: 375px) {
  .article-title-photo img {
    height: 110px;
    width: auto; } }

/*# sourceMappingURL=style.css.map */
