$fontStack: "Open Sans";
$textArticleColor: #37474F;
$plainWhite: #FFF;
$lightGray: #F5F7F8;
$greenBlue: #00BAA5;
$plainBlack: #000000;

$break-notebook: 901px;
$break-bigtablet: 731px;
$break-tablet: 640px;
$break-smalltablet: 616px;
$break-smarthphone: 376px;

html {
  font-size: 62.5%
}

body {
  margin: 0;
  padding: 0;
  font-family: $fontStack;
  Color: $textArticleColor;
  font-size: 1.6rem;
}

.page-header {
  position: absolute;
  width: 100%;
  padding: 20px;
  padding-top: 28px;
  box-sizing: border-box;
  overflow: hidden;
  height: 70px;

  @media screen and (min-width: $break-tablet) {
    max-width: 1000px;
    margin: auto;
    left: 0;
    right: 0;
  }

  .page-logo {
    fill: $plainWhite;
    position: absolute;
    top: 10px;
    left: 20px;
    opacity: 0.7;
  }
}

.page-nav {
  overflow: hidden;
  height: 65px;

  @media screen and (min-width: $break-tablet) {
    position: absolute;
    top: 0px;
    right: 20px;
  }

  .hamburger {
    border: 0;
    background: 0;
    fill: $plainWhite;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;

    @media screen and (min-width: $break-tablet) {
      display: none;
    }

    .hamburger-icon {
      width: 23px;
      opacity: 0.7;
    }

    .close-icon {
      display: none;
      width: 16px;
    }
  }
  .navigation-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    text-align: center;

    @media screen and (min-width: $break-tablet) {
      display: block;
    }

    li {
      border-bottom: 1px solid $lightGray;
      padding-top: 10px;
      padding-bottom: 10px;

      @media screen and (min-width: $break-tablet) {
        display: inline-block;
        border: 0;
      }

      a {
        color: $plainBlack;
        text-decoration: none;
        font-size: 1.4rem;
        position: relative;

        @media screen and (min-width: $break-tablet) {
          color: $plainWhite;
          margin-right: 42px;
        }
      }
    }
    li.sign-up {
      border: 0;
      margin-top: 10px;

      a {
        border: 2px solid $greenBlue;
        border-radius: 25px;
        padding: 7px;
        padding-right: 14px;
        padding-left: 14px;

        @media screen and (min-width: $break-tablet) {
          border: 2px solid $plainWhite;
          border-radius: 25px;
          margin: 0;
        }
      }
    }

  }
}

.page-header.nav-opened {
  background: $plainWhite;
  box-shadow: -1px 9px 19px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  height: auto;

  .navigation-menu {
    display: block;
  }

  .page-logo {
    fill: $plainBlack;
  }

  .page-nav {
    height: auto;

    .hamburger {
      fill: $plainBlack;

      .hamburger-icon {
        display: none;
      }

      .close-icon {
        display: inline-block;
      }
    }
  }
}

.article-header-main {
  background-image: url("../img/Tahoe_North.jpg");
  background-position: 60%;
  color: $plainWhite;
  text-align: center;
  padding-top: 80px;
  min-height: 72vh;
  overflow: hidden;
}

.article-header-winter {
  @extend .article-header-main;
  background-image: url("../img/skier.jpg");
  display: none;
}

.article-header-summer {
  @extend .article-header-main;
  background-image: url("../img/big-summer.jpg");
  display: none;
}

.article-title {
  margin-right: 0;
  margin-left: 0;
  font-weight: normal;
  font-size: 4.0rem;
}

.article-lead {
  font-size: 1.8rem;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
}

.source {
  display: none;

  @media screen and (min-width: $break-bigtablet) {
    display: block;
    font-size: 1.5rem;
    padding-bottom: 15px;
    font-weight: 300;
  }
}

.art-ph-wrap {
  width: auto;
  height: auto;
  display: block;

  @media screen and (min-width: $break-bigtablet) {
    display: inline-block;
  }
}

.article-title-photo {
  width: 100%;
  height: auto;

  img {
    height: 150px;
    width: auto;
    padding: 10px;
    position: relative;
    border-radius: 15px;
  }

  img#sas-ba-sm {
    display: inline-block;

    @media screen and (min-width: $break-notebook) {
      display: none;
    }
  }

  img#sas-ba-bg {
    display: none;

    @media screen and (min-width: $break-notebook) {
      display: inline-block;
    }
  }
}

.article-sidebar {
  border-top: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
  padding: 45px 0px 25px 0px;
  margin-top: 40px;
  margin-bottom: 40px;

  .article-picture {
    margin: auto;
    left: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 700px;

    img {
      max-width: 100%;
      text-align: center;
      border-radius: 15px;
      margin: auto;
      left: 0;
      right: 0;
    }
  }
}

.article-sidebar .article-picture .caption,
.article-sidebar p {
  font-size: 1.4rem;
  color: #78909C;
  font-style: italic;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.article-content {

  @media screen and (min-width: $break-tablet) {
    max-width: 900px;
    margin: auto;
  }

  .article-container {
    padding: 15px;
    line-height: 25px;

    @media screen and (min-width: $break-tablet) {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
    p {
      @media screen and (min-width: $break-tablet) {
        margin-top: 0px;
      }
    }
  }

  .article-sidebar {
    p {
      @media screen and (min-width: $break-tablet) {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 300;
        max-width: 900px;
      }
    }
  }
}

.lead-two {
  text-align: center;
  font-size: 1.6rem;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer {
  text-align: center;
  background-color: $lightGray;
  padding-top: 40px;
  padding-bottom: 40px;

  .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 30px;
    }
  }
}

.page-footer {
  .navigation-menu li a {
    color: $greenBlue;
    text-decoration: none;
  }
  .page-logo2 {
    fill: #78909C;
    margin-bottom: 20px;
  }

  .copyright {
    margin: 0;
    color: #78909C;
  }
}

@media screen and (max-width: $break-bigtablet) {
  .article-title-photo img {
    height: 120px;
    padding: 5px;
    width: auto;
  }
}

@media screen and (max-width: $break-smalltablet) {
  .article-title-photo img {
    height: 115px;
    width: auto;
  }

}

@media (max-width: $break-smarthphone) {
  .article-title-photo img {
    height: 110px;
    width: auto;
  }
}